*{
    margin:0;
   
}

html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 20px;
}


body{
    
background:black;
margin=0;
  
}


.link-title{
    text-decoration: none;
    font-size:24px;
    color:white;
}

.page-heading{
    text-align: center;
    font-family:"Comic Sans MS";
    margin-bottom: 20px;
}

/*.container{
    position:absolute;
    width=100%;
    height=100%;
    margin=0 auto;
    background:black;
    box-shadow: 0px 9px 11px 5px;
    border-radius:5px;
    z-index:0;
    
}
*/
/*.hero{
    width:100%;
    height:auto;
    min-width:1024px;
    min-height:100%;
    background-image:linear-gradient(rgba(26,26,26,0.6), rgba(26,26,26,0.6)), url("fallsteps.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    position:fixed;
    top:0;
    left:0;
    
}*/
.header{
    padding: 45px 0 20px 40px;
    
}

.menu{
    position:fixed;
    background:black;
    padding:6px 0 6px 40px;
    width:100%;
    height:30px;
    z-index:99;
}

.menu a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
    font-family: "Times New Roman", "Comic Sans MS";
}

.menu a:hover{
    
   color:blue;
    
}


.sect{
    
  height:100%;
  top=0;
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat;
}

#img1, #img2, #img3{
    opacity: 0.6;
}

.subsect{
   width:100%;
   height: 225px;
   background:skyblue;
    
}




/*h1{
    color:white;
    font-size: 24px;
    font-family: "Times New Roman", "Comic Sans MS";
    font-weight: normal;
}*/

/*h2{
    color:yellowgreen;
    font-size: 15px;
    
}*/

.main{
    color: white;
    font-family:cursive;
    font-size: 13px;
    line-height:18px;
    text-align:center;
}

.main a:hover{
    color: deeppink;
}


footer{
    padding:6px 40px 6px 40px;
    color:green;
    background:gold;
    font-family:"Lucida Sans Unicode";
    font-size:11px;
    text-decoration:right;
    border-radius:5px;
}

footer a{
    text-decoration:none;
    color:green;
}

.separator{
    color:green;
    font-size:13px;
}


/*******************************About page styles*************************/
#about-page #home-image img{
    float:left;
    width:70%;
    height:300px; 
    margin-bottom: 10px;
}
#about-page #profile{
    float:right;
    width:20%;
    margin:5px;
}
#about-page .description{
    clear:both;
    
}

/*******************************Contact page styles*************************/

#contact #form{
    width:500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 3px 9px 11px 5px;
    border-radius:5px;
}

#contact #form input{
    width:100%;
    border-radius: 5px;
    height: 20px;
    
}

#contact #form #message{
    width:100%;
    border-radius: 5px;
}

#contact #form #submit{
    height:30px;
}