
*{
    margin:0;
    padding:0;
}

html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 20px;
}


body{
    
background:black;
margin=0;
padding:0;
  
}

/*fixed scrolling background images*/
#bg1{
    height:100%;
    width:100%;
    background-image: url(olympicriver.JPG);
    background-size:cover;
    background-repeat:no-repeat;
    display: table;
    background-attachment: fixed;
}

#bg2{
    height:100%;
    width:100%;
    background-image: url(fallsteps.jpg);
    background-size:cover;
    background-repeat:no-repeat;
     display: table;
    background-attachment: fixed;
}

#bg3{
    height:100%;
    width:100%;
    background-image: url(mountain.JPG);
    background-size:cover;
    background-repeat:no-repeat;
     display: table;
    background-attachment: fixed;
}

/*colored subsections with fixed scrolling effects*/
#subsect1{
   width:100%;
   height: 350px;
   background:skyblue;
    
}

#subsect2{
   width:100%;
   height: 350px;
   background:darkmagenta;
    
}

/*welcome message with typed.js*/
.element{
    text-align:center;
    color:white;
    font-size: 72px;
    padding:0;
    margin:0;
    line-height:550px;
    
}


/*header styling*/
.link-title{
    text-decoration: none;
    font-size:24px;
    color:white;
}

.page-heading{
    text-align: center;
    font-family:"Comic Sans MS";
    margin-bottom: 20px;
}

.header{
    padding: 20px 0 10px 10px;
    
}

/*hamburger menu styling*/
a{
    color:black;
    text-decoration:none;
    transition: color 0.3s ease;
}

a:hover{
    color:deepskyblue;
    
}

#menuToggle{
    display:block;
    position:fixed;
    left:40px;
    z-index: 1;
    -webkit-user-select:none;
    user-select:none;
    
}
#menuToggle a:hover{
    color:green;
}

#menuToggle input {
    display:block;
    position:relative;
    width: 32px;
    height: 40px;
    left:5px;
    top:40px;
    cursor:pointer;
    opacity:0;
    z-index: 2;
}

#menuToggle span{
    display:block;
    width: 50px;
    height: 6px;
    margin-bottom: 8px;
    position:relative;
    background: white;
    border-radius:3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0, 0.5,1.0),background: 0.5s cubic-bezier(0.77, 0.2, 0, 0.5,1.0),opacity:0.55s ease;
    
}

#menuToggle span:first-child{
    transform-origin:0% 0%;
    
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input :checked ~span{
    opacity:1;
    transition: rotate(45deg) translate(-2px, -1px);
    background: black;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity:0;
    transform:rotate(0deg) scale(0,2,0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    opacity:1;
    transform: rotate(-45deg) translate(0,-1px;);
}

#menu{
    position: absolute;
    width: 300px;
    height:225px;
    margin: -125px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #cdcdcd;
    list-style-type:none;
    -webkit-font-smoothing:antialiased;
    transform-origin: 0% 0%;transform:translate(-100%,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul{
    transform: scale(1.0,1.0);
    opacity:1;
}

/*More Header Styling*/
h1{
    color:black;
    font-size: 24px;
    font-family: "Times New Roman", "Comic Sans MS";
    font-weight: normal;
}

.main{
    color: white;
    font-family:cursive;
    font-size: 13px;
    line-height:18px;
    text-align:center;
}

footer{
    padding:6px 40px 6px 40px;
    color:green;
    background:gold;
    font-family:"Lucida Sans Unicode";
    font-size:11px;
    text-decoration:right;
    border-radius:5px;
}

footer a{
    text-decoration:none;
    color:green;
}

.separator{
    color:green;
    font-size:13px;
}


/*******************************About page styles*************************/
#about-page #home-image img{
    float:left;
    width:70%;
    height:300px; 
    margin-bottom: 10px;
}
#about-page #profile{
    float:right;
    width:20%;
    margin:5px;
}
#about-page .description{
    clear:both;
    
}

/*******************************Contact page styles*************************/

#contact #form{
    width:500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 3px 9px 11px 5px;
    border-radius:5px;
}

#contact #form input{
    width:100%;
    border-radius: 5px;
    height: 20px;
    
}

#contact #form #message{
    width:100%;
    border-radius: 5px;
}

#contact #form #submit{
    height:30px;
}

/* Travels page styling*/

/*
#travels-image{
    height:100%;
    width:100%;
    background-image: url(quill_ink.jpg);
    background-size:cover;
    background-repeat:no-repeat;
     display: table;
    background-attachment: fixed;   
}
*/

/*
#tsubsect1 {
   width:100%;
   height: 350px;
   background:red;
}
*/

/*
#tsubsect1 p {
   color:white;
}
*/

