body{
    
background:black;
margin=0;
  
}

.link-title{
    text-decoration: none;
    font-size:24px;
    color:white;
}

.page-heading{
    text-align: center;
    font-family:"Comic Sans MS";
    margin-bottom: 20px;
}

.container{
    position:absolute;
    width=100%;
    height=100%;
    margin=0 auto;
    background:black;
    box-shadow: 0px 9px 11px 5px;
    border-radius:5px;
    
}
.hero{
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(26,26,26,0.7), rgba(26,26,26,0.7)), url("fallsteps.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    
}


.header{
    padding: 45px 0 20px 40px;
    
}

.menu{
    background:#3BEA00;
    padding:6px 0 6px 40px;
}

.menu a{
    color:red;
    text-decoration: none;
    font-size:14px;
    font-weight:bold;
    font-family: "Times New Roman", "Comic Sans MS";
}

.menu a:hover{
    
   color:blue;
    
}


/*aside{
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}
*/
h1{
    margin:0px;
    color:white;
    font-size: 24px;
    font-family: "Times New Roman", "Comic Sans MS";
    font-weight: normal;
}

h2{
    color:yellowgreen;
    font-size: 15px;
    margin: 20px 0 5px 0;
}

.main{
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: white;
    font-family:cursive;
    font-size: 13px;
    line-height:18px;
    text-align:center;
}

.main a:hover{
    color: deeppink;
}

/*#home-image img{
    width: 100%;
    height: 400px;
    
}*/

footer{
    padding:6px 40px 6px 40px;
    color:white;
    background:blue;
    font-family:"Lucida Sans Unicode";
    font-size:11px;
    text-decoration:right;
    border-radius:5px;
}

footer a{
    text-decoration:none;
    color:white;
}

.separator{
    color:navajowhite;
    font-size:13px;
}

/*******************************About page styles*************************/
#about-page #home-image img{
    float:left;
    width:70%;
    height:300px; 
    margin-bottom: 10px;
}
#about-page #profile{
    float:right;
    width:20%;
    margin:5px;
}
#about-page .description{
    clear:both;
    
}

/*******************************Contact page styles*************************/

#contact #form{
    width:500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 3px 9px 11px 5px;
    border-radius:5px;
}

#contact #form input{
    width:100%;
    border-radius: 5px;
    height: 20px;
    
}

#contact #form #message{
    width:100%;
    border-radius: 5px;
}

#contact #form #submit{
    height:30px;
}